# Virtual Environment
TubeStrategist/
venv/
.venv/
env/

# Sensitive Files
.env
*.env
!.env.example

# Databases & Local Data
*.db
*.sqlite3
data/

# Cache
__pycache__/
*.pyc


# Sensitive text files
*.txt
!requirements.txt

# Logs
logs/
*.log

# Windows / OS junk
Thumbs.db